TURBOPACK=false
NEXT_TURBO_OVERLAY=false 
NODE_ENV=production
SENDGRID_API_KEY=SENDGRID_API_KEY
NEXT_PUBLIC_PUSHOVER_TOKEN=NEXT_PUBLIC_PUSHOVER_TOKEN
NEXT_PUBLIC_PUSHOVER_USER=NEXT_PUBLIC_PUSHOVER_USER
# insert on vercel env variables