@use '@/theme/styles' as *;

.language-selector {
  display: flex;
  gap: 0.2rem;
  z-index: 1000;
  box-sizing: border-box;
  
}

.flag-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border: none;
  background-color: $white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  
  // Default state
  backdrop-filter: blur(4px);
  
  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  } 
  
  &.active {
    background-color: $white;
    transform: translateY(-2px);
  }
}

.flag-button-text {
  font-size: 1.5rem;
} 